In [8]:
!pip install folium

Collecting folium
  Downloading folium-0.12.1-py2.py3-none-any.whl (94 kB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from folium) (1.18.5)
Collecting branca>=0.3.0
  Downloading branca-0.4.2-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from folium) (2.24.0)
Requirement already satisfied: jinja2>=2.9 in c:\programdata\anaconda3\lib\site-packages (from folium) (2.11.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (1.25.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (1.1.1)
Installing collected packages: branca, folium
Successfully installed branca-0.4.2 folium-0.12.1

In [9]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import folium

In [10]:
data = pd.read_csv('./data/COVID_Data.csv')

In [12]:
data.isnull().sum()

Unnamed: 0      0
Country         0
Date            0
Confirmed       0
Death           0
newConfirmed    0
newDeath        0
dtype: int64

In [14]:
data.info() # 데이터타입 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54522 entries, 0 to 54521
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    54522 non-null  int64
 1   Country       54522 non-null  object
 2   Date          54522 non-null  object
 3   Confirmed     54522 non-null  int64
 4   Death         54522 non-null  int64
 5   newConfirmed  54522 non-null  int64
 6   newDeath      54522 non-null  int64
dtypes: int64(5), object(2)
memory usage: 2.9+ MB

In [15]:
data

,Unnamed: 0,Country,Date,Confirmed,Death,newConfirmed,newDeath
0,1,Afghanistan,2019-12-31,0,0,0,0
1,2,Afghanistan,2020-01-01,0,0,0,0
2,3,Afghanistan,2020-01-02,0,0,0,0
3,4,Afghanistan,2020-01-03,0,0,0,0
4,5,Afghanistan,2020-01-04,0,0,0,0
...,...,...,...,...,...,...,...
54517,55096,Zimbabwe,2020-11-02,8389,245,15,2
54518,55097,Zimbabwe,2020-11-03,8410,246,21,1
54519,55098,Zimbabwe,2020-11-04,8427,248,17,2
54520,55099,Zimbabwe,2020-11-05,8444,248,17,0
54521,55100,Zimbabwe,2020-11-06,8471,250,27,2

In [17]:
# Data 정보 수정 (Object => datatime)
data['Date'] = pd.to_datetime(data['Date'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54522 entries, 0 to 54521
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    54522 non-null  int64
 1   Country       54522 non-null  object
 2   Date          54522 non-null  datetime64[ns]
 3   Confirmed     54522 non-null  int64
 4   Death         54522 non-null  int64
 5   newConfirmed  54522 non-null  int64
 6   newDeath      54522 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 2.9+ MB